
/*Este é um comentário em CSS*/


/*Esta é uma regra CSS3*/
h1
{
    color: red;
}

/*Esta é uma regra CSS3*/


.link
{
    display: inline;
    margin: 5%;
}

/*Esta é uma regra CSS3 - cabeçalho em azul*/
header
{
    background-color: skyblue;
    text-align: center;
}

/*Esta é uma regra CSS3 - títulos na fonte serifada*/
h1
{
    font-family: serif, sans-serif;
}

h2
{
    font-family: serif, sans-serif;
}

/*Esta é uma regra CSS3 - links barra de navegação em negrito*/
nav
{
    font-weight: bold;
}

/*Esta é uma regra CSS3 - margem classe container*/
.container
{
    margin: 20px
}

/*Esta é uma regra CSS3 - ajuste de espaçamento*/
#conteudo
{
    line-height: 1.5;
}

/*Esta é uma regra CSS3 - borda formulário*/
form
{
    border: 1px solid gray; 
    padding: 10px;
}

/*Esta é uma regra CSS3 - cor de texto*/
p
{
    color: green;
}

/*Esta é uma regra CSS3 - estilização botões formulário*/
button
{
    background-color: blue;
    color: white;
}

/*Esta é uma regra CSS3 - estilização rodapé*/
footer
{
    border-top-style: solid;
    border-color: red;
    padding-top: 2px;
}
